.log-in{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    margin-top: 35vh;
    background: lightblue;
    padding: 50px;
    border-radius: 25px;
}

.log-in input[type=text]{
    margin-bottom: 20px;
    padding: 15px;
}

.log-in input[type=button]{
    border: 0;
    background: greenyellow;
    padding: 15px;
}